<div class="jumbotron">
	<h1>Welcome to Pininterest clone.</h1>
	<p>
		This is the home page for pininterest clone. I hope you enjoy the pins here.
		Thank you.
	</p>
	<p>
		<%= link_to "Sign up!!", "#", class: "btn btn-primary btn-lg" %>
	</p>
</div>


