/*$navbar-inverse-bg: #69D2E7;

$navbar-inverse-color: black;
$navbar-inverse-link-color: black;*/
$btn-primary-bg: green;

@import "bootstrap-sprockets";



body{
	padding-top: 60px;
	padding-bottom: 60px;
}

.box {
	margin: 30px;
	margin-left: 20px;
	padding: 5px;
	font-size: 11px;
	line-height: 1.4em;
	float: left;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #444;
	width: 214px;
}

.box img{
	display: block;
	width: 100%;
	border-radius: 5px;
}

.des{
	margin: 10px 0.5px;
}


@import 'bootstrap';

/* Required for jquery manonry */

