/*$navbar-inverse-bg: #69D2E7;

$navbar-inverse-color: black;
$navbar-inverse-link-color: black;*/
$btn-primary-bg: green;

@import "bootstrap-sprockets";


body{
	padding-top: 60px;
	padding-bottom: 60px;
}


@import 'bootstrap';



